body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-36px;
  width:592px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u170 {
  position:absolute;
  left:36px;
  top:18px;
}
#u170_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:592px;
  height:928px;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u170_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u171 {
  position:absolute;
  left:0px;
  top:0px;
}
#u171_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:592px;
  height:928px;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u171_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u172 {
  position:absolute;
  left:0px;
  top:0px;
}
#u172_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:592px;
  height:928px;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u172_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u173_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:592px;
  height:928px;
}
#u173 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:592px;
  height:928px;
  display:flex;
}
#u173 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u173_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u174_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:230px;
  background:inherit;
  background-color:rgba(214, 186, 90, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Segoe UI', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#0400B3;
}
#u174 {
  border-width:0px;
  position:absolute;
  left:116px;
  top:94px;
  width:360px;
  height:230px;
  display:flex;
  font-family:'Segoe UI', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#0400B3;
}
#u174 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u174_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u175_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:73px;
}
#u175 {
  border-width:0px;
  position:absolute;
  left:116px;
  top:94px;
  width:115px;
  height:73px;
  display:flex;
}
#u175 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u175_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u176_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Segoe UI Bold', 'Segoe UI', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:26px;
  color:#FFFFFF;
}
#u176 {
  border-width:0px;
  position:absolute;
  left:279px;
  top:107px;
  width:131px;
  height:35px;
  display:flex;
  font-family:'Segoe UI Bold', 'Segoe UI', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:26px;
  color:#FFFFFF;
}
#u176 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u176_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u177_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:171px;
}
#u177 {
  border-width:0px;
  position:absolute;
  left:116px;
  top:167px;
  width:360px;
  height:171px;
  display:flex;
}
#u177 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u177_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u178_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:46px;
  background:inherit;
  background-color:rgba(214, 186, 90, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Segoe UI', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u178 {
  border-width:0px;
  position:absolute;
  left:116px;
  top:799px;
  width:360px;
  height:46px;
  display:flex;
  font-family:'Segoe UI', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u178 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u178_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u179_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:216px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Segoe UI', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u179 {
  border-width:0px;
  position:absolute;
  left:182px;
  top:811px;
  width:216px;
  height:34px;
  display:flex;
  font-family:'Segoe UI', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u179 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u179_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u180_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:40px;
}
#u180 {
  border-width:0px;
  position:absolute;
  left:195px;
  top:744px;
  width:168px;
  height:40px;
  display:flex;
}
#u180 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u180_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u181_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:312px;
  height:322px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u181 {
  border-width:0px;
  position:absolute;
  left:134px;
  top:422px;
  width:312px;
  height:322px;
  display:flex;
}
#u181 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u181_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u182 label {
  left:0px;
  width:100%;
}
#u182_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u182 {
  border-width:0px;
  position:absolute;
  left:151px;
  top:454px;
  width:176px;
  height:20px;
  display:flex;
  font-size:14px;
}
#u182 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u182_img.selected {
}
#u182.selected {
}
#u182_img.disabled {
}
#u182.disabled {
}
#u182_img.hint.disabled {
}
#u182.hint.disabled {
}
#u182_img.selected.disabled {
}
#u182.selected.disabled {
}
#u182_img.error.disabled {
}
#u182.error.disabled {
}
#u182_img.selected.hint.disabled {
}
#u182.selected.hint.disabled {
}
#u182_img.error.hint.disabled {
}
#u182.error.hint.disabled {
}
#u182_img.selected.error.disabled {
}
#u182.selected.error.disabled {
}
#u182_img.selected.error.hint.disabled {
}
#u182.selected.error.hint.disabled {
}
#u182_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:2px;
  width:152px;
  white-space:nowrap;
  text-transform:none;
}
#u182_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u183 label {
  left:0px;
  width:100%;
}
#u183_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u183 {
  border-width:0px;
  position:absolute;
  left:151px;
  top:505px;
  width:325px;
  height:20px;
  display:flex;
  font-size:14px;
}
#u183 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u183_img.selected {
}
#u183.selected {
}
#u183_img.disabled {
}
#u183.disabled {
}
#u183_img.hint.disabled {
}
#u183.hint.disabled {
}
#u183_img.selected.disabled {
}
#u183.selected.disabled {
}
#u183_img.error.disabled {
}
#u183.error.disabled {
}
#u183_img.selected.hint.disabled {
}
#u183.selected.hint.disabled {
}
#u183_img.error.hint.disabled {
}
#u183.error.hint.disabled {
}
#u183_img.selected.error.disabled {
}
#u183.selected.error.disabled {
}
#u183_img.selected.error.hint.disabled {
}
#u183.selected.error.hint.disabled {
}
#u183_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:2px;
  width:301px;
  word-wrap:break-word;
  text-transform:none;
}
#u183_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u184 label {
  left:0px;
  width:100%;
}
#u184_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u184 {
  border-width:0px;
  position:absolute;
  left:151px;
  top:559px;
  width:325px;
  height:20px;
  display:flex;
  font-size:14px;
}
#u184 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u184_img.selected {
}
#u184.selected {
}
#u184_img.disabled {
}
#u184.disabled {
}
#u184_img.hint.disabled {
}
#u184.hint.disabled {
}
#u184_img.selected.disabled {
}
#u184.selected.disabled {
}
#u184_img.error.disabled {
}
#u184.error.disabled {
}
#u184_img.selected.hint.disabled {
}
#u184.selected.hint.disabled {
}
#u184_img.error.hint.disabled {
}
#u184.error.hint.disabled {
}
#u184_img.selected.error.disabled {
}
#u184.selected.error.disabled {
}
#u184_img.selected.error.hint.disabled {
}
#u184.selected.error.hint.disabled {
}
#u184_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:2px;
  width:301px;
  word-wrap:break-word;
  text-transform:none;
}
#u184_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u185 label {
  left:0px;
  width:100%;
}
#u185_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u185 {
  border-width:0px;
  position:absolute;
  left:151px;
  top:609px;
  width:325px;
  height:20px;
  display:flex;
  font-size:14px;
}
#u185 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u185_img.selected {
}
#u185.selected {
}
#u185_img.disabled {
}
#u185.disabled {
}
#u185_img.hint.disabled {
}
#u185.hint.disabled {
}
#u185_img.selected.disabled {
}
#u185.selected.disabled {
}
#u185_img.error.disabled {
}
#u185.error.disabled {
}
#u185_img.selected.hint.disabled {
}
#u185.selected.hint.disabled {
}
#u185_img.error.hint.disabled {
}
#u185.error.hint.disabled {
}
#u185_img.selected.error.disabled {
}
#u185.selected.error.disabled {
}
#u185_img.selected.error.hint.disabled {
}
#u185.selected.error.hint.disabled {
}
#u185_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:2px;
  width:301px;
  word-wrap:break-word;
  text-transform:none;
}
#u185_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u186 label {
  left:0px;
  width:100%;
}
#u186_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u186 {
  border-width:0px;
  position:absolute;
  left:151px;
  top:658px;
  width:325px;
  height:20px;
  display:flex;
  font-size:14px;
}
#u186 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u186_img.selected {
}
#u186.selected {
}
#u186_img.disabled {
}
#u186.disabled {
}
#u186_img.hint.disabled {
}
#u186.hint.disabled {
}
#u186_img.selected.disabled {
}
#u186.selected.disabled {
}
#u186_img.error.disabled {
}
#u186.error.disabled {
}
#u186_img.selected.hint.disabled {
}
#u186.selected.hint.disabled {
}
#u186_img.error.hint.disabled {
}
#u186.error.hint.disabled {
}
#u186_img.selected.error.disabled {
}
#u186.selected.error.disabled {
}
#u186_img.selected.error.hint.disabled {
}
#u186.selected.error.hint.disabled {
}
#u186_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:2px;
  width:301px;
  word-wrap:break-word;
  text-transform:none;
}
#u186_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u187 label {
  left:0px;
  width:100%;
}
#u187_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u187 {
  border-width:0px;
  position:absolute;
  left:151px;
  top:710px;
  width:325px;
  height:20px;
  display:flex;
  font-size:14px;
}
#u187 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u187_img.selected {
}
#u187.selected {
}
#u187_img.disabled {
}
#u187.disabled {
}
#u187_img.hint.disabled {
}
#u187.hint.disabled {
}
#u187_img.selected.disabled {
}
#u187.selected.disabled {
}
#u187_img.error.disabled {
}
#u187.error.disabled {
}
#u187_img.selected.hint.disabled {
}
#u187.selected.hint.disabled {
}
#u187_img.error.hint.disabled {
}
#u187.error.hint.disabled {
}
#u187_img.selected.error.disabled {
}
#u187.selected.error.disabled {
}
#u187_img.selected.error.hint.disabled {
}
#u187.selected.error.hint.disabled {
}
#u187_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:2px;
  width:301px;
  word-wrap:break-word;
  text-transform:none;
}
#u187_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u188_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:46px;
  background:inherit;
  background-color:rgba(214, 186, 90, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Segoe UI', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u188 {
  border-width:0px;
  position:absolute;
  left:116px;
  top:336px;
  width:360px;
  height:46px;
  display:flex;
  font-family:'Segoe UI', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u188 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u188_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u189_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:37px;
}
#u189 {
  border-width:0px;
  position:absolute;
  left:386px;
  top:341px;
  width:31px;
  height:37px;
  display:flex;
}
#u189 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u189_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u190_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:27px;
}
#u190 {
  border-width:0px;
  position:absolute;
  left:438px;
  top:346px;
  width:24px;
  height:27px;
  display:flex;
}
#u190 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u190_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u191 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u192_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:355px;
  height:240px;
}
#u192 {
  border-width:0px;
  position:absolute;
  left:119px;
  top:423px;
  width:355px;
  height:240px;
  display:flex;
  font-family:'Segoe UI', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u192 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u192_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u193_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:282px;
  height:57px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Segoe UI Bold', 'Segoe UI', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u193 {
  border-width:0px;
  position:absolute;
  left:155px;
  top:456px;
  width:282px;
  height:57px;
  display:flex;
  font-family:'Segoe UI Bold', 'Segoe UI', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u193 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u193_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u194_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:282px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Segoe UI Bold', 'Segoe UI', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u194 {
  border-width:0px;
  position:absolute;
  left:155px;
  top:609px;
  width:282px;
  height:34px;
  display:flex;
  font-family:'Segoe UI Bold', 'Segoe UI', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u194 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u194_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u195_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:293px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Segoe UI Bold', 'Segoe UI', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u195 {
  border-width:0px;
  position:absolute;
  left:155px;
  top:537px;
  width:293px;
  height:60px;
  display:flex;
  font-family:'Segoe UI Bold', 'Segoe UI', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u195 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u195_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u196 {
  position:absolute;
  left:36px;
  top:18px;
  visibility:hidden;
}
#u196_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:592px;
  height:928px;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u196_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u197 {
  position:absolute;
  left:0px;
  top:0px;
}
#u197_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:592px;
  height:928px;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u197_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u198 {
  position:absolute;
  left:0px;
  top:0px;
}
#u198_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:592px;
  height:928px;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u198_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u199 {
  position:absolute;
  left:0px;
  top:0px;
}
#u199_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:592px;
  height:928px;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u199_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u200_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:592px;
  height:928px;
}
#u200 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:592px;
  height:928px;
  display:flex;
}
#u200 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u200_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u201_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:230px;
  background:inherit;
  background-color:rgba(214, 186, 90, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Segoe UI', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#0400B3;
}
#u201 {
  border-width:0px;
  position:absolute;
  left:116px;
  top:88px;
  width:360px;
  height:230px;
  display:flex;
  font-family:'Segoe UI', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#0400B3;
}
#u201 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u201_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u202_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Segoe UI Bold', 'Segoe UI', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:26px;
  color:#FFFFFF;
}
#u202 {
  border-width:0px;
  position:absolute;
  left:273px;
  top:101px;
  width:131px;
  height:35px;
  display:flex;
  font-family:'Segoe UI Bold', 'Segoe UI', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:26px;
  color:#FFFFFF;
}
#u202 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u202_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u203_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:46px;
  background:inherit;
  background-color:rgba(214, 186, 90, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Segoe UI', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u203 {
  border-width:0px;
  position:absolute;
  left:116px;
  top:788px;
  width:360px;
  height:46px;
  display:flex;
  font-family:'Segoe UI', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u203 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u203_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u204_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:216px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Segoe UI', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u204 {
  border-width:0px;
  position:absolute;
  left:188px;
  top:794px;
  width:216px;
  height:34px;
  display:flex;
  font-family:'Segoe UI', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u204 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u204_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u205_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:73px;
}
#u205 {
  border-width:0px;
  position:absolute;
  left:116px;
  top:88px;
  width:115px;
  height:73px;
  display:flex;
}
#u205 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u205_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u206_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:171px;
}
#u206 {
  border-width:0px;
  position:absolute;
  left:116px;
  top:161px;
  width:360px;
  height:171px;
  display:flex;
}
#u206 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u206_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u207_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:42px;
}
#u207 {
  border-width:0px;
  position:absolute;
  left:220px;
  top:550px;
  width:132px;
  height:42px;
  display:flex;
}
#u207 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u207_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u208_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:46px;
  background:inherit;
  background-color:rgba(214, 186, 90, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Segoe UI', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u208 {
  border-width:0px;
  position:absolute;
  left:116px;
  top:332px;
  width:360px;
  height:46px;
  display:flex;
  font-family:'Segoe UI', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u208 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u208_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u209_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:36px;
}
#u209 {
  border-width:0px;
  position:absolute;
  left:425px;
  top:335px;
  width:34px;
  height:36px;
  display:flex;
}
#u209 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u209_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u210 {
  position:absolute;
  left:139px;
  top:400px;
}
#u210_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:320px;
  height:83px;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u210_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u211_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:83px;
}
#u211 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:83px;
  display:flex;
  font-size:20px;
}
#u211 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u211_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u212_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u212 {
  border-width:0px;
  position:absolute;
  left:57px;
  top:17px;
  width:50px;
  height:50px;
  display:flex;
}
#u212 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u212_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u213_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:28px;
}
#u213 {
  border-width:0px;
  position:absolute;
  left:232px;
  top:554px;
  width:32px;
  height:28px;
  display:flex;
}
#u213 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u213_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
